// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
    width: 100%;
    position: relative;



    &__main {
        background: $brand-color;
    }

    &__bamboo {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__container {
        display: flex;
        flex-direction: row;
        padding: 0 0 3rem 150px;
        margin-top: -2rem;
        gap: 5rem;


        p {
            font-weight: 700;
            padding-bottom: .35rem;

        }

        nav {
            display: flex;
            flex-direction: column;

            ul {
                margin: 0;
                padding: 0;
            }

            li {
                margin-bottom: .8rem;
                font-size: 14px;
            }


        }
    }


    &__newsletter {
        max-width: 400px;

        &__info {
            font-weight: 400 !important;
            color: $white;

            mix-blend-mode: normal;
            opacity: 0.4;
            font-size: 14px;
            line-height: 20px;
        }

        input {
            border-radius: 32px;
            width: 80%;
            padding: 20px 24px;
            background-color: #30635C;
            border: none;
        }
    }

    &__links {
        display: flex;
        gap: 4rem;

    }

}



.footer__tagline {
    font-family: $font-first-fun;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    line-height: 0;
    letter-spacing: 9px;
    padding-top: 1rem;


    p {
        font-size: 10.1vw;
    }

}