.form__input {
    background-color: $white;
    font-family: $text-font-stack;
    border: 1px grey solid;
    border-radius: 12px;
    padding: 10px;
    display: block;
    margin-bottom: 24px;
    width: 100%;
}