body {
    font-family: poppins;
}

*{
    padding: 0;
    margin: 0;
}

header {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 14px 34px;
    background-color: #0B473F;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    .map,
    .community,
    .contact {
        text-decoration: none;
        color: #fff;

    }
}

.logo {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-family: $font-first-fun;
    letter-spacing: 0.1px;

    .site_logo {
        width: 4rem;
        height: auto;

    }
}

.signup {
    border: 1px solid;
    padding: 8px;
    border-radius: 20px;
}

.account {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 19px;
    width: 177px;
    height: 48px;

    .login,
    .signup {
        text-decoration: none;
        background-color: none;
        color: #fff;
    }
}