.button__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 32px;
  width: max-content;
  padding: 15px 20px;
  vertical-align: middle;
  border: none;
  -webkit-appearance: none;
  overflow: hidden;



  // login form 
  &.authLogin {
    width: 100%;
    background-color: $brand-color;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    transition: .8s ease-in-out;
    border-radius: 20px;
    margin-bottom: 10px;

    &:hover {
      background-color: $mid-yellow;
      border: none;
      transition: .8s ease-in-out;
    }
  }

  // follow
  &.follow {
    background-color: lighten($color: $light-pink, $amount: 8);
    color: $brand-color;
    font-weight: 700;
  }


  // social
  &.social {
    background-color: $brand-color;
    color: $white;
    font-weight: 700;

    &:hover {
      background-color: $mid-yellow;
      color: $black;
      transition: color .25s ease-in-out, background-color .5s ease-in-out;
    }
  }





  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}

.login-btn{
  color: black;
}