.authModal {
    background-color: rgba($color: $white, $alpha: .6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 20;


    &__container {
        background-color: $white;
        padding: 60px;
        margin: 0 2rem;
        align-self: center;
        width: 75%;
        margin: 0 auto;
        border-radius: 32px;
        border: 0.25px grey solid;
        color: $black;

        h1 {
            font-size: 32px;
            margin-bottom: 24px;
        }

        span {
            color: $brand-color;
        }

    }

    &__redirect {
        color: #0000ff;
        text-decoration: underline;

        &:hover {
            color: $mid-yellow;
            border: none;
            transition: .2s ease-in-out;
        }

    }
}


main{
    padding-top: 5rem;
}