//Hero section
.hero {
    color: $white;

    &__container {
        background-color: $brand-color;
        padding: 5rem 0 2rem 150px;

        h1 {
            font-family: $font-first-fun;
            font-size: 96px;
            line-height: 90px;
            max-width: 800px;
            margin: 0;
        }

        p{
            width: 45%;
            line-height: 28px;
            font-size: 18px;
            margin: 1rem 0;
        }
        button{
            margin: 30px 20px 0 0;
        }

    }


    &__banner{
        padding: 2rem 0 2rem 150px;
        background-color: $light-pink;
        height: 150px;
        margin-bottom: 100px;
    }
}




//Discover section
.discover {
    padding: 3rem 0;
    margin: 0 150px;

    &__title {
        display: flex;
        flex-direction: row;
        padding-bottom: 100px;


        h2 {
            font-size: 48px;
            font-weight: bold;
            min-width: 700px;
        }

        p {
            line-height: 29px;
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 15px;


        h3 {
            font-family: $font-first-fun;
            font-size: 48px;
        }

        &__top {
            display: flex;
            flex-direction: row;
            gap: 15px;

        }

        &__container {
            background-color: $light-blue;
            border-radius: 15px;
            padding: 40px;
        }


    }
}



//Testimonials section
.testimonials {
    background-color: $brand-color;
    margin-top: 210px;
    height: 400px;
}




// FAQ section
.faqs {
    padding: 149px 0;
    margin: 0 150px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;

    &__heading {
        font-size: 24px;
    }

    &__subheading {
        font-size: 48px;
        font-weight: 800;
        color: $brand-color;
        line-height: 58px;
        letter-spacing: -0.5px;
    }

    &__accordion {
        padding-top: 12rem;
    }

}

.accordion {


    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 22px;
        padding: 24px;
        border-top: 1px solid $black;
        font-weight: 500;
        transition: .25s ease-in-out;

        &:hover {
            background-color: $light-blue;
            transition: .25s ease-in-out;
        }
    }

    &__dropdown {
        font-size: 40px;
        font-weight: 300;
    }

    &__content {
        padding: 24px;
    }
}