//Hero section
.hero {
    color: $white;
    background-color: $brand-color;

    &__container {
        padding: 8rem 1.8rem;

        @media (min-width: 800px) {
            padding: 10rem 10%;
        }

        h1 {
            font-family: $font-first-fun;
            font-weight: 400;
            font-size: 45px;
            line-height: 110%;
            width: 80%;


            @media (min-width: 800px) {
                font-size: 96px;
                line-height: 90px;
                margin-bottom: 1rem;
                max-width: 800px;

            }
        }

        p {
            font-weight: 300;
            width: 100%;
            max-width: 572px;
            line-height: 28px;
            font-size: 18px;


        }


    }

    // hero buttons
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 30px;

        @media (min-width: 800px) {
            gap: 1.5rem;

        }

        .community {
            display: flex;
            padding: 8px 20px;
            gap: 10px;
            align-items: center;
            border: 2px solid $white;
            border-radius: 32px;
            color: $white;
            transition: border .25s ease-in-out,
                color .5s ease-in-out;

            &:hover {
                border: 2px solid $mid-yellow;
                color: $mid-yellow;
                transition: border .25s ease-in-out, color .5s ease-in-out;
            }
        }


        .explore {
            display: flex;
            padding: 8px 20px;
            gap: 5px;
            align-items: center;
            border: 2px solid $black;
            border-radius: 32px;
            background-color: $mid-yellow;
            box-shadow: 3px 3px 0 0 $black;
            transition: all 200ms ease;
            color: $black;
        }

        .explore:hover {
            box-shadow: none;
            transform: translate(4px, 4px);
        }
    }

    // hero banner
    &__banner {
        display: flex;
        flex-wrap: wrap;
        padding: 3rem;
        gap: 4rem;
        background-color: $light-pink;
        margin-bottom: 100px;

        @media (min-width: 800px) {
            padding: 3rem 10%;
        }

        &__container {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            max-width: 24rem;

        }

        &__headings {
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 18px;

            &__icon {
                border-radius: 50%;
                background-color: $brand-color;
                width: 40px;
                padding: .45rem;
                color: $white;
                margin-right: 1rem;

            }
        }

        &__text {
            line-height: 24px;
            letter-spacing: 0.1px;
        }
    }
}




//Discover section
.discover {
    padding: 3rem 0;
    margin: 0 150px;


    &__title {
        display: flex;
        flex-direction: row;
        padding-bottom: 100px;


        h2 {
            font-size: 48px;
            font-weight: bold;
            min-width: 700px;
        }

        p {
            line-height: 29px;
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 15px;


        h3 {
            font-family: $font-first-fun;
            font-size: 48px;
        }

        &__top {
            display: flex;
            flex-direction: row;
            gap: 15px;

        }

        &__container {
            background-color: $light-blue;
            border-radius: 15px;
            padding: 40px;
        }


    }
}



//Testimonials section
.testimonials {
    background-color: $brand-color;
    margin-top: 210px;
    height: 400px;
}




// FAQ section
.faqs {
    padding: 149px 0;
    margin: 0 150px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;

    &__heading {
        font-size: 24px;
    }

    &__subheading {
        font-size: 48px;
        font-weight: 800;
        color: $brand-color;
        line-height: 58px;
        letter-spacing: -0.5px;
    }

    &__accordion {
        padding-top: 12rem;
    }

}

.accordion {


    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 22px;
        padding: 24px;
        border-top: 1px solid $black;
        font-weight: 500;
        transition: .25s ease-in-out;

        &:hover {
            background-color: $light-blue;
            transition: .25s ease-in-out;
        }
    }

    &__dropdown {
        font-size: 40px;
        font-weight: 300;
    }

    &__content {
        padding: 24px;
    }
}