//css for map
.map{
    color: black;
    background: linear-gradient(180deg, #012A59 0%, rgba(66, 35, 97, 0.6) 100%);
    width: 100vw;
    height: 100vh;
    position: fixed;


}

.glove__canvas{width: 100vw;height: 100vh}

.options{
    display: flex;
    flex-direction: column;
    gap: 1rem;
 
    max-width: 25rem;


    &__wrapper{
        display: flex;
        gap: 1rem;
        margin: 7rem 0 0 1rem;
        padding: 1rem;
        z-index: 4;
    }
}

.options__panel{
    display: flex;
    width: 100%;
    justify-content: space-between;
    button{
 
        height: 32px;
        
        border-radius: 2rem;
        font-weight: bold;
        letter-spacing: 0.1px;
        font-size: 16px;
        line-height: 0.1rem;
        padding: 20px  ;
        
    }

    &__all{
        background-color: $mid-yellow;
        z-index: 3;
        width: 50%;
    }

    &__ongoing{
        display: flex;
        background-color:#C6F7FA ;
        justify-content: flex-end;
  
        width: 120%;
        margin-left: -2rem;
        z-index: 2;
    }

    &__alerts{
        display: flex;
        justify-content: flex-end;        
        background-color:$light-pink ;
        width: 120%;
        padding: 20px ;
        margin-left: -2rem;
    }
}

.options__info{
    background-color: $white;
    border-radius: 13px;
    padding: 10px;

    h3, a{
        color: $black;
    }

    &__title{
       font-size: 18px;
       font-weight: 400;
       padding-top: 14px;

    }
}